

.header {
    height: 71px;
}
.sandwich {

}
.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
        border: #e3e3e3 1px solid;
}

.icon:last-child {
    margin-left: 8px;
}

.icons-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fa-bars,
.fa-search,
.fa-user {
    color: #797878;
}
.redLine {
    height: 5px;
    background: #900022;
}

@font-face {
font-family: "Proxima Nova Regular";
src: url("ProximaNovaRegular.otf") format("opentype");
}
body {
    /*color: blue;*/
    font-family: "Proxima Nova Regular";
}

.mainLayout {
    margin: 0 auto;
    padding: 5px 15px;
    max-width: 1175px;
}
.flexCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}



html {
    box-sizing: border-box;
    /*font-family: sans-serif;*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, ol, ul, li {
    margin: 0;
}
main {
    display: block;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
